<div id="calculator">
  <div id="input-wrap">
    <div id="tmp">{{tempCount()}}</div>
    <div id="input">{{count()}}</div>
  </div>
  <div id="button-wrap">
    <button id="all-clear" (click)="onClickClearAll()">AC</button>
    <button id="clear" (click)="onClickClearCount()">C</button>
    <button id="sign" (click)="onSignChangeClick()">+/-</button>
    <button class="amt divide" (click)="onOperationClick('/')">/</button>

    <button class="number" (click)="onNumberClick(7)">7</button>
    <button class="number" (click)="onNumberClick(8)">8</button>
    <button class="number" (click)="onNumberClick(9)">9</button>
    <button class="amt times" (click)="onOperationClick('*')">*</button>

    <button class="number" (click)="onNumberClick(4)">4</button>
    <button class="number" (click)="onNumberClick(5)">5</button>
    <button class="number" (click)="onNumberClick(6)">6</button>
    <button class="amt minus" (click)="onOperationClick('-')">-</button>

    <button class="number" (click)="onNumberClick(1)">1</button>
    <button class="number" (click)="onNumberClick(2)">2</button>
    <button class="number" (click)="onNumberClick(3)">3</button>
    <button class="amt plus" (click)="onOperationClick('+')">+</button>

    <button class="number num-0" (click)="onNumberClick(0)">0</button>
    <button id="dot">.</button>
    <button id="result" (click)="onResultClickTest()">=</button>
  </div>
</div>
